NODE_ENV=production
PORT=3000

ANIFY_URL=https://api.anify.eltik.cc
CONSUMET_URL=https://api.consumet.org
JIKAN_URL=https://api.jikan.moe/v4
HIANIME_URL=https://api.hianime.to/api

OTK_BASE_URL=https://otakudesu.animeupdates.me
SAMA_BASE_URL=https://samehadaku.email

CORS_ORIGIN=*
RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX=100
